{:deps true
 :builds {:app {:target     :browser
                :output-dir "./resources/public/js"
                :asset-path "/js"
                :module-loader true
                :compiler-options {:infer-externs :auto}
                :modules {:shared
                          {:entries []}
                          
                          :spotify
                          {:entries [frontsorter.spotify] :depends-on #{:shared}}
                          
                          :item
                          {:entries [frontsorter.item] :depends-on #{:shared}}
                          
                          :edit-tag
                          {:entries [frontsorter.tagform.edit] :depends-on #{:shared}}
                          
                          :app
                          {:entries [frontsorter.tag]  :depends-on #{:shared}}
                          
                          :graph
                          {:entries [frontsorter.graph] :depends-on #{:shared}}
                          
                          :frontpage
                          {:entries [frontsorter.page] :depends-on #{:shared}}

                          :tdsl
                          {:entries [frontdsl.page] :depends-on #{:shared}}
                          
                          :tdsl-todo
                          {:entries [frontdsl.todopage] :depends-on #{:shared :tdsl}}}
                :devtools   {:after-load frontsorter.item/mount-root}}}}
