{:source-paths ["src" "src/gen"]
 :dependencies [[binaryage/devtools "1.0.2"]
                [nrepl "0.8.3"]
                [cljs-http "0.1.46"]
                [reagent "1.0.0"]
                [re-frame "1.3.0-rc2"]
                [day8.re-frame/http-fx "0.2.4"]]
 
 :builds       {:app {:target     :browser
                      :output-dir "../dtorter/resources/public/js"
                      :asset-path "/js"
                      :module-loader true
                      :modules {:shared
                                {:entries []}
                                
                                :spotify
                                {:entries [frontsorter.spotify] :depends-on #{:shared}}
                                
                                :item
                                {:entries [frontsorter.item] :depends-on #{:shared}}
                                
                                :create-tag
                                {:entries [frontsorter.tagform.create] :depends-on #{:shared}}
                                
                                :edit-tag
                                {:entries [frontsorter.tagform.edit] :depends-on #{:shared}}
                                
                                :app
                                {:entries [frontsorter.tag]  :depends-on #{:shared}}
                                
                                :graph
                                {:entries [frontsorter.graph] :depends-on #{:shared}}
                                }
                      :devtools   {:after-load frontsorter.item/mount-root}}}

 :dev-http {3000 {:root    "public"
                  :handler user/app}}}
