{:objects
 {:User
  {:description "a user in the system"
   :fields
   {:id {:type (non-null ID)}
    :name {:type (non-null String)}}}
  
  :Tag
  {:description "a collection of items"
   :fields
   {:id {:type (non-null ID)}
    :name {:type (non-null String)}
    :description {:type String}
    :members {:type (list :Item)
              :resolve :Tag/items}
    :votes {:args {:attribute {:type (non-null String)}}
            :type (list :Vote)
            :resolve :Tag/votes}
    :sorted {:args {:attribute {:type (non-null String)}}
             :type (list :Item)
             :resolve :Tag/sorted}
    :unsorted {:args {:attribute {:type (non-null String)}}
               :type (list :Item)
               :resolve :Tag/unsorted}
    :attributes {:type (list :String)
                 :resolve :Tag/attributes}
    :attributecounts {:type (list :Int)
                      :resolve :Tag/attributecounts}
    :pair {:type :Pair
           :resolve :Tag/pair}
    :owner {:type :User
            :resolve :All/owner}

    :votecount {:type Int :resolve :Tag/votecount}
    :usercount {:type Int :resolve :Tag/usercount}
    :itemcount {:type Int :resolve :Tag/itemcount}}}
  
  :Item
  {:description "a named url/link/item in the system that can be voted on"
   :fields
   {:id {:type (non-null ID)}
    :name {:type (non-null String)}
    :paragraph {:type String}
    :elo {:type Float}
    :tags {:type (list :Tag)
           :resolve :Item/tags}}}
  
  :Pair
  {:description "two items, to be voted on"
   :fields
   {:left {:type :Item}
    :right {:type :Item}}}
  
  :Vote
  {:description "a vote between to items, in a tag, with an attribute"
   :fields
   {:id {:type (non-null ID)}
    :tag {:type (non-null :Tag)
          :resolve :Vote/tag}
    :left_item {:type (non-null :Item)
                :resolve :Vote/left-item}
    :right_item {:type (non-null :Item)
                 :resolve :Vote/right-item}
    
    :attribute {:type (non-null :String)}
    :magnitude {:type (non-null :Int)}}}}
  

 :queries
 {:tag_by_id
  {:type :Tag
   :description "return a tag based on its unique id, if it exists"
   :args {:id {:type ID}}
   :resolve :query/tag-by-id}
  :all_tags
  {:type (list :Tag)
   :description "return a list of all (public) tags"
   :args {}
   :resolve :query/all-tags}}

 :mutations
 {:vote
  {:type (non-null :Tag)
   :description "vote on an item"
   :args {:tagid {:type (non-null ID)}
          :left_item {:type (non-null ID)}
          :right_item {:type (non-null ID)}
          :attribute {:type (non-null String)}
          :magnitude {:type (non-null Int)}}
   :resolve :mutation/vote}
  :delvote
  {:type (non-null :Tag)
   :description "delete a vote"
   :args {:voteid {:type (non-null ID)}
          :attribute {:type (non-null String)}}
   :resolve :mutation/delvote}

  :additem
  {:type (non-null :Tag)
   :description "add an item"
   :args {:tagid {:type (non-null ID)}
          :name {:type (non-null String)}
          :url {:type String}
          :description {:type String}}
   :resolve :mutation/additem}
  }}
