@use 'config';

// item list

.itemranking {
	background: config.$item-color-weak;
	border: config.$border-many; 
	border-color: config.$item-color-strong;
	border-style: config.$border-many-style;
}

.itempanel {
	background: config.$item-color-weak;
}

.item {
	background: config.$item-color-medium;
	cursor: pointer;
}
.hovered {
	outline: config.$item-color-strong thick ridge;
}

.rightcorner {
	float: right;
}

