@import 'config';

// item list

.itemranking {
	background: $item-color-weak;
	border: $border-many; 
	border-color: $item-color-strong;
	border-style: $border-many-style;
}

.itempanel {
	background: $item-color-weak;
}

.item {
	background: $item-color-medium;
	cursor: pointer;
}
.hovered {
	outline: $item-color-strong thick ridge;
}

.rightcorner {
	float: right;
}

